{% load i18n future pages_tags blog_tags keyword_tags mezzanine_tags %}


                <div class="col-md-5 col-sm-6">
                    <br>
                    <h4>About Me</h4>
                    Nama : Abirafdi Raditya Putra<br>
                    Tanggal lahir : 7 September 1995<br>
                    Tempat tinggal : Jakarta<br>
                   Pendidikan : Mahasiswa Teknik Informatika Gunadarma<br><br>
                </div><!--/.col-md-3-->

              
				<div class="col-md-3 col-sm-6">
                    <h4></h4>
                    <address>
                        <strong></strong><br>
                        <br>
                        <br>
                    </address>
                   
                   
                </div> <!--/.col-md-3-->
</div>
